@import './vscode-dark-modern.css';
@import '@fontsource/roboto';
@import '@fontsource/fira-code';

* {
  box-sizing: border-box;
}

html,
body,
#app {
  margin: 0;
  height: 100%;
}

body {
  background-color: #f4f4f4;
  /* font-family: 'Fira Code', monospace; */
  /* font-family: 'Roboto', sans-serif; */
  font-family:
    'Segoe UI', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Roboto', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 20px;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

#app {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 1600px;
  color: var(--vscode-foreground);
}

.custom-popper-class {
  font-size: 11px !important;
  background-color: var(--vscode-background) !important;
  color: #cccccc !important;
  border: 1px solid #cccccc80 !important;
  border-radius: 4px;
  padding: 4px 8px;
}

.custom-popper-class .v-popper__arrow-inner {
  border-color: #cccccc !important;
}

.custom-popper-class .v-popper__arrow-outer {
  border-color: #1f1f1f !important;
}

.dragbar {
  width: 3px;
  cursor: ew-resize;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  transition: background-color 0.1s ease;
}

.dragbar:hover,
.dragging {
  background-color: #0078d4;
  transition-delay: 0.4s;
}

@media (max-width: 400px) {
  body {
    padding: 0;
  }
}
